<div class="fileview-panel">
  <div class="file-operations"></div>
  <!--<div class="file-contents" style="height: 100%; border: 1px black solid;">-->
  <!--
  <div class="file-contents" style="position: absolute; margin:0px; padding:0px; top:50px; left:10px; bottom:10px; right:10px; border: 1px black solid;">
    <textarea style="position: relative; margin:0px; padding:0px; top:5px; left:5px; bottom:10px; right:10px;">
    <textarea style="height: 100%;">
      {{:file_contents}}
    </textarea>
  </div>
  -->
  <div class="file-contents">
    <textarea>{{:file_contents}}</textarea>
  </div>
</div>
