body {
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
}

.ui-front {
  z-index: 1000;
}

.ui-widget {
  font-size: 0.8em;
}

.ui-dialog {
  background-color: #f5f6f7
}

.div-button {
  border: 1px solid #999999;
  border-radius: 3px;
  margin:2px;
  padding:2px;
  cursor: pointer;
}
.div-button:hover {
  background-color: #dddddd;
}

.tames-field-label {
  display: block;
  float: left;
  margin-top: 7px;
  margin-bottom: 3px;
  width: 120px;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  min-height: 20px;
  color: #666;
}
.tames-field-form {
  /* do not include width */
  margin-bottom: 3px;
  margin-left: 128px;
  padding: 3px;
  min-height: 28px;
  float: none;
}
