div.image-field-item {
  position:relative;
  display:inline-block;
  margin:2px 0px;
}
div.image-field-item > img {
  display:inline-block;
  border:solid 1px gray;
  border-radius:3px;
  background-color:#f0f0f0;
  padding:2px 2px 2px 2px;
  font-family:Verdana,Arial,sans-serif;
  font-size:12px;
}
div.image-field-item > i {
  position:absolute;
  right:0px;
  top:0px;
  color:lightslategray;
  background-color:white;
  border-radius:3px;
  padding:2px;
  display: none;
}
div.empty-image-field-item {
  position:relative;
  display:table-cell;
  margin:2px 0px;
  border:solid 1px gray;
  border-radius:3px;
  background-color:#f0f0f0;
  padding:2px 2px 2px 2px;
  font-family:Verdana,Arial,sans-serif;
  font-size:12px;
  vertical-align:middle;
  text-align:center;
}
