div.menuview-panel {
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
}
div.menuview-panel > div.menu-list {
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  /*overflow-y: scroll;*/
}
div.menuview-item {
  display:inline-block;
  width:120px;
  height:120px;
  padding:10px;
}
div.menuview-item > div > i {
  width:100px;
  height:70px;
  padding:10px;
}
span.menuview-item-caption {
  text-align:center;
  font-size: 8pt;
  width:100px;
  /*white-space:nowrap;*/
  overflow:hidden;
  text-overflow:ellipsis;
  height:30px;
  display:table-cell;
}
