body {
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  font-family: Verdana,"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

.ui-front {
  z-index: 1000;
}

.ui-widget {
  font-size: 0.8em;
}

.ui-dialog {
  background-color: #f5f6f7
}

.div-button {
  border: 1px solid #999999;
  border-radius: 3px;
  margin:2px;
  padding:2px;
  cursor: pointer;
}
.div-button:hover {
  background-color: #dddddd;
}
