body {
  position:absolute;
  /*
  margin:0px;
  padding:0px;
  */
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
}

.ui-front {
  z-index: 1000;
}

.ui-widget {
  font-size: 0.8em;
}

.ui-dialog {
  background-color: #f5f6f7
}

.image-button {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.image-button:hover {
  background-color: #dddddd;
}
